@use '../util/' as u;

h1,
h2,
h3 {
    font-weight: 700;
    letter-spacing: 1.1;
    margin-top: 0;
}

h1 {
    // font-size: clamp(1.75rem, 1rem + 2vw, 2.5rem);
    font-size: clamp(1.75em, 1em + 2vw, 2.5em);
}

p {
    margin-top: 0;
}

a,
a:visited,
a:active {
    text-decoration: none;
}